# ─── Server ───────────────────────────────────────────
PORT=5000

# ─── CORS ─────────────────────────────────────────────
CLIENT_URL=http://localhost:3000

# ─── JWT ──────────────────────────────────────────────
JWT_SECRET=dhiyafa_super_secret_jwt_key_change_in_prod

# ─── OTP Settings ─────────────────────────────────────
OTP_EXPIRY_MINUTES=10

# ─── Nodemailer / Gmail SMTP ───────────────────────────
MAIL_USER=diyafanoreply@gmail.com
MAIL_PASS=ukczbaerwmewrxyw
MAIL_FROM_NAME=ضيافة - Dhiyafa
